In [1]:
import pandas as pd

In [2]:
psg_players = pd.Series(["Navas", "Mbappe", "Neymar", "Messi"], index=[1,7,10,30])
psg_players

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [3]:
psg_players = pd.Series(["Navas", "Mbappe", "Neymar", "Messi"])
psg_players

0     Navas
1    Mbappe
2    Neymar
3     Messi
dtype: object

In [4]:
dict = {1:"Navas", 7:"Mbappe", 10:"Neymar", 30:"Messi"}
dict

{1: 'Navas', 7: 'Mbappe', 10: 'Neymar', 30: 'Messi'}

In [5]:
psg_players = pd.Series(dict)

In [6]:
psg_players[30]

'Messi'

In [7]:
psg_players = pd.Series(["Navas", "Mbappe", "Neymar", "Messi"])
psg_players

0     Navas
1    Mbappe
2    Neymar
3     Messi
dtype: object

In [8]:
psg_players[0:3]

0     Navas
1    Mbappe
2    Neymar
dtype: object

In [9]:
dict = {
"Player":
    ["Navas", "Mbappe", "Neymar", "Messi"],
"T-shirt":
    [1, 7, 10, 30],
"heigh":
    [183.0, 170.6, 150.2, 150.2]
}

In [10]:
pd.DataFrame(dict)

   Player  T-shirt  heigh
0   Navas        1  183.0
1  Mbappe        7  170.6
2  Neymar       10  150.2
3   Messi       30  150.2

In [11]:
df_players = pd.DataFrame(dict, index=[1, 7, 10, 30])

In [12]:
df_players.columns

Index(['Player', 'T-shirt', 'heigh'], dtype='object')

In [13]:
df_players.index

Index([1, 7, 10, 30], dtype='int64')

In [14]:
df_players.rpow

<bound method DataFrame.rpow of     Player  T-shirt  heigh
1    Navas        1  183.0
7   Mbappe        7  170.6
10  Neymar       10  150.2
30   Messi       30  150.2>