In [1]:
import pandas as pd
import numpy as np

In [2]:
dict = {"col1":[1,2,3,np.nan],
"col2":[4,np.nan,6,7],
"col3":["a","b","c",None]
}

In [3]:
dict

{'col1': [1, 2, 3, nan], 'col2': [4, nan, 6, 7], 'col3': ['a', 'b', 'c', None]}

In [4]:
df = pd.DataFrame(dict)

In [5]:
df

   col1  col2  col3
0   1.0   4.0     a
1   2.0   NaN     b
2   3.0   6.0     c
3   NaN   7.0  None

### Pandas Tecnics to handle null data

In [6]:
df.isnull()

    col1   col2   col3
0  False  False  False
1  False   True  False
2  False  False  False
3   True  False   True

In [7]:
# to check with number
df.isnull() * 1

   col1  col2  col3
0     0     0     0
1     0     1     0
2     0     0     0
3     1     0     1

In [8]:
# to fill misssing values with fillna
df.fillna("Missing")

      col1     col2     col3
0      1.0      4.0        a
1      2.0  Missing        b
2      3.0      6.0        c
3  Missing      7.0  Missing

In [9]:
# to fill misssing values with fillna and put mean
df.fillna(df.mean)

,col1,col2,col3
0,1.0,4.0,a
1,2.0,<bound method DataFrame.mean of col1 col2 ...,b
2,3.0,6.0,c
3,<bound method DataFrame.mean of col1 col2 ...,7.0,<bound method DataFrame.mean of col1 col2 ...

In [10]:
df

   col1  col2  col3
0   1.0   4.0     a
1   2.0   NaN     b
2   3.0   6.0     c
3   NaN   7.0  None

In [11]:
df.interpolate()

/var/folders/5f/8wn5rtw909qbjlpmf_jgrh4h0000gn/T/ipykernel_24305/4002874584.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df.interpolate()

   col1  col2  col3
0   1.0   4.0     a
1   2.0   5.0     b
2   3.0   6.0     c
3   3.0   7.0  None

method: Método de interpolación (por defecto es 'linear').

####'linear': Interpolación lineal.
####'time': Interpolación basada en el índice de tiempo.
####'index': Interpolación basada en el índice.
####'nearest': Usa el valor más cercano.
####'polynomial': Interpolación polinómica (requiere el argumento order).

In [12]:
# remove null data
df.dropna()

   col1  col2 col3
0   1.0   4.0    a
2   3.0   6.0    c

In [13]:
df

   col1  col2  col3
0   1.0   4.0     a
1   2.0   NaN     b
2   3.0   6.0     c
3   NaN   7.0  None